.body {
    width: auto;
    height: auto;
    max-height: 90%;
    margin: auto;
}

html {
    width: auto;
    height: auto;
    background-color: rgb(105, 160, 185);
    margin: auto;
}

.mainTable {
    margin: auto;
    background-color: rgb(250, 245, 240);
    width: 534px;
    height: 764px;
}

.bodyHead {
    width: 534px;
    height: 80px;
    background-color: black;
    margin: auto:
}

.names {
    widows: 534px;
    height: 50px;
    background-color: ;
    margin: auto:
}

.gameField {
    width: 500px;
    height: 400px;
    margin: auto;
}

.button {
    background-image: url(../img/back2.png);
    background-repeat: no-repeat;
    display: block;
    width: 138px;
    height: 23px;
    margin: auto;
    padding-top: 25px;
}

p {
    padding-top: 20px;
}

p1 {
    padding-top: 20px;
}

.container {
    border: 4px double #333;
    border-collapse: separate;
    width: 100%;
    border-spacing: 3px;
    margin: 50px auto;
    height: 500px;
}

.cell {
    margin: auto;
    background-color: rgba(61, 36, 37, 0.5);
    border: 2px solid rgb(56, 56, 56);
    float: left;
    height: 86px;
    width: 86px;
    padding: 5px;
}

.cell:hover {
    border-color: rgb(237, 28, 36, 0.0);
}

.design {
    display: inline-block;
    /* Строчно-блочный элемент */
    padding: 5px 20px;
    /* Добавляем поля */
    text-decoration: none;
    /* Убираем подчёркивание у ссылки */
    cursor: pointer;
    /* Курсор в виде руки */
    background: #deefff;
    /* Фон для браузеров, не поддерживающих градиент */
    /* Градиент */
    background: -moz-linear-gradient(top, #deefff 0%, #98bede 100%);
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #deefff), color-stop(100%, #98bede));
    background: -webkit-linear-gradient(top, #deefff 0%, #98bede 100%);
    background: -o-linear-gradient(top, #deefff 0%, #98bede 100%);
    background: -ms-linear-gradient(top, #deefff 0%, #98bede 100%);
    background: linear-gradient(top, #deefff 0%, #98bede 100%);
    border-radius: 10px;
    /* Скругляем уголки */
    border: 1px solid #008;
    /* Добавляем синюю рамку */
    font: 12px/1 Arial, sans-serif;
    /* Рубленый шрифт */
    color: #2c539e;
    /* Цвет текста и ссылки */
}