.body {
    width: auto;
    height: auto;
    max-height: 90%;
    margin: auto;
}

html {
    width: auto;
    height: auto;
    background-color: rgb(105, 160, 185);
    margin: auto;
}

.mainTable {
    margin: auto;
    background-color: rgb(250, 245, 240);
    width: 534px;
    height: 764px;
}

.bodyHead {
    width: 534px;
    height: 80px;
    background-color: black;
    margin: auto:
}

.names {
    widows: 534px;
    height: 50px;
    background-color: ;
    margin: auto:
}

.gameField {
    width: 500px;
    height: 400px;
    margin: auto;
}

.button {
    background-image: url(../img/plus.png);
    background-repeat: no-repeat;
    position: right: 200px;
    border-radius: 50%;
    display: block;
    width: 100px;
    height: 100px;
    margin: auto;
}

p {
    padding-top: 20px;
}

p1 {
    padding-top: 20px;
}

.container {
    border: 4px double #333;
    border-collapse: separate;
    width: 100%;
    border-spacing: 3px;
    margin: 50px auto;
    height: 500px;
}

.cell {
    margin: auto;
    background-color: rgba(61, 36, 37, 0.5);
    border: 2px solid rgb(56, 56, 56);
    float: left;
    height: 100px;
    width: 150px;
    padding: 5px;
}

.cell:hover {
    border-color: rgb(237, 28, 36, 0.0);
}